<!DOCTYPE html>
<html>

<h1>List of Pies</h1>
<ul id="redlist">
	<li> <span style="color:red">Apple</span> Pie</li>
	<li> Bluberry Pie</li>
	<li> Cherry Pie</li>
</ul>
<ol class="greenlist">
	<li> Meat Pie</li>
	<li> Pumpkin Pie</li>
	<li> Keylime Pie</li>
</ol>

<table>
	<tr>
		<th> Name </th>
		<th> Email </th>
		<th> Phone </th>
	</tr>
	
	<tr>
		<td> Fabien </td>
		<td> fabien@gmail.com</td>
		<td> 0414660680 </td>
	</tr>
</table>
</html>


